<% content_for :head do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>">
  </script>
<% end %>
<% content_for(:title, "#{region.title_tag || region.name} | DartsLondon") %>

<div id="region-container" data-region="<%= region.map_data.to_json %>">
  <h1><%= region.name %></h1>

  <div class="row">
    <div class="col-md-12">
      <div id="map_canvas"></div>
    </div>
  </div>

  <p><%= region.description %></p>

  <% @pubs.each do |pub| %>
    <div>
      <h2><%= link_to(pub.name, pub) %></h2>
      <%= pub.description %>
    </div>
  <% end %>
</div>
