<%= form_for(@pub, html: {role: 'form'}) do |f| %>
  <% if @pub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pub.errors.count, "error") %> prohibited this pub from being saved:</h2>

      <ul>
      <% @pub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :region %><br>
        <%= f.select :region_id, options_from_collection_for_select(@regions, :id, :name, @pub.region_id), {}, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <%= f.label :address %><br>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :map_location %><br>
        <%= f.text_field :latlng, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :number_of_dartboards %><br>
        <%= f.select :number_of_dartboards, (1..10).to_a, {}, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control', rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.label :title_tag %><br>
    <%= f.text_field :title_tag, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :easy_to_get_on_the_board %><br>
    <%= f.text_area :easy_to_get_on_board, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :rest_of_pub %><br>
    <%= f.text_area :rest_of_pub, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :beer_selection %><br>
    <%= f.text_area :beer_selection, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :how_to_get_there %><br>
    <%= f.text_area :directions, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :quiz_machine %><br>
    <%= f.text_area :quiz_machine, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-default btn-success' %>
  </div>
<% end %>
