<% content_for :head do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>">
  </script>
<% end %>
<% content_for(:title, "#{pub.title_tag || pub.name} | DartsLondon") %>

<div id="pub-container" data-pub="<%= pub.to_json %>">
  <div class="breadcrumb">
    <%= pub.region.name %>
  </div>

  <h1><%= pub.name %></h1>
  <p>
    <%= pub.address %>
  </p>
  <div class="row">
    <div class="col-md-12">
      <div id="map_canvas"></div>
    </div>
  </div>
  <p>
    <%= pub.description %>
  </p>

  <h3>Easy to get on the board?</h3>
  <p>
    <%= pub.easy_to_get_on_board %>
  </p>

  <h3>Rest of pub</h3>
  <p>
    <%= pub.rest_of_pub %>
  </p>

  <h3>Beer selection</h3>
  <p>
    <%= pub.beer_selection %>
  </p>

  <h3>How to get there</h3>
  <p>
    <%= pub.directions %>
  </p>

  <h3>Quiz machine</h3>
  <p>
    <%= pub.quiz_machine %>
  </p>
</div>
