<%= render "layouts/google_maps" %>
<% content_for(:title, "#{pub.title_tag || pub.name} | DartsLondon") %>

<div id="pub-container" data-pub="<%= pub.map_data.to_json %>">
  <div class="breadcrumb">
    <%= pub.region.name %>
  </div>

  <% if pub.score %>
    <div class="score">
      <%= image_tag "scores/score#{pub.score}.png" %>
    </div>
  <% end %>

  <h1><%= pub.name %></h1>
  <p>
    <%= pub.address %>
  </p>
  <div class="row">
    <div class="col-md-12">
      <div id="map_canvas"></div>
    </div>
  </div>
  <p>
    <%= pub.description %>
  </p>

  <h3>Easy to get on the board?</h3>
  <p>
    <%= pub.easy_to_get_on_board %>
  </p>

  <h3>Rest of pub</h3>
  <p>
    <%= pub.rest_of_pub %>
  </p>

  <h3>Beer selection</h3>
  <p>
    <%= pub.beer_selection %>
  </p>

  <h3>How to get there</h3>
  <p>
    <%= pub.directions %>
  </p>

  <h3>Quiz machine</h3>
  <p>
    <%= pub.quiz_machine %>
  </p>
</div>
