<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for(:title).presence || "DartsLondon" %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="main" id="<%= controller_name %>-<%= controller.action_name %>">
  <%= render 'layouts/navbar' %>
  <div id="background-image">
    <%= yield :background_image %>
  </div>
  <div id="main-content" class="container">
    <%= yield %>
  </div>

</body>
</html>
