<!DOCTYPE html>
<html>
<head>
  <title>Dartslondon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
